node_modules
# Keep environment variables out of version control
.env
# Ignore all .log files everywhere
# Ignore all .log files
*.log

# Ignore logs directory
logs/


# Ignore specific log files
reportt.json
report.html
reportt.html
artillery-report.json
logs
blog-loadtest-summary.xlsx
blog-loadtest.yaml